<!DOCTYPE html>
<html>
<head>
	<title>To-Do WebApp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<style>

	body{
		background-color: #dce3e6;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #6BA3E8;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.center-column-title{
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 3px 1px 10px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #000000;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}



</style>
<div class="center-column">
	<div class="center-column-title">
		<h1 align="center">To-Do WebApp</h1>
	</div>

	<form method="POST" action="/">
		{% csrf_token %}
		{{form.title}}
		<input class="btn btn-dark btn-lg" type="submit" name="Create Task">
	</form>

	<div class="todo-list">

	{% for task in tasks %}
		<div class="item-row">
			<a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>&nbsp&nbsp&nbsp
			<a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>&nbsp&nbsp&nbsp

			{% if task.complete == True %}
			<strike>{{task}}</strike>
			{% else %}
			<span>{{task}}</span>
			{% endif %}
		</div>
	{% endfor %}
	</div>
</div>


</body>
</html>

